<h1>Forget Password</h1>
<form action="/forgetpassword" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    <input type="submit" value="Submit">
    </form>
