<h1>SignIn</h1>
<form action="/signin" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Signin">
    <p>Forgot Password? <a href="/forgetpassword">Forget password</a></p>
    </form>
